/* Styles page for the site */

:root {
    /* Colors */
    --dark-grey-background: #242424;
    --dark-grey-black: #121212;
    --lighter-grey-contrast: #363636;
    --offwhite-grey-text: #F1F3F5;
    --white-text: #FFFFFF;
    --spotify-green: #1DB954;
}

* {
    background-color: var(--dark-grey-background);
    color: var(--offwhite-grey-text);
    margin: 0;
}

body {
    background-color: var(--dark-grey-background);
    color: var(--offwhite-grey-text);
}

.searchHeader {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr;
    background-color: var(--lighter-grey-contrast);

    .logo {
        background-color: inherit;
    }

    .search {
        background-color: inherit;
        align-items: center;

        form {
            display: grid;
            grid-template-columns: 4fr 1fr;
        }
    }
}

#searchResultsDiv {
    width: 90%;
    margin: 0 auto;
    display: grid;

    &.songColumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.artistDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 110px;

    &:hover {
        border: solid 2px var(--white-text);
    }

    &:nth-of-type(odd) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    .selectButton {
        background-color: var(--spotify-green);
        color: var(--dark-grey-black);
        border: none;
        border-radius: 5px;
        height: 44px;
    }
}

.albumDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 72px;

    &:nth-of-type(odd) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    label {
        background-color: inherit;

    }
}


/* Need to add MEDIA QUERIES for screen width to determine
    number of columns for songs!!! */
.songDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 72px;

    &:nth-of-type(4n) {
        background-color: var(--lighter-grey-contrast);
    }

    &:nth-of-type(4n+1) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    label {
        background-color: inherit;

    }
}

.getSongsButton {
    background-color: var(--spotify-green);
    color: var(--dark-grey-black);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 0;
}