/* Styles page for the site */

:root {
    /* Colors */
    --dark-grey-background: #242424;
    --dark-grey-black: #121212;
    --lighter-grey-contrast: #363636;
    --offwhite-grey-text: #F1F3F5;
    --white-text: #FFFFFF;
    --spotify-green: #1DB954;
    --darker-spotify-green: #14813b;
}

* {
    background-color: var(--dark-grey-background);
    color: var(--offwhite-grey-text);
    margin: 0;
    font-family: "Source Sans 3";
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

body {
    background-color: var(--dark-grey-background);
    color: var(--offwhite-grey-text);
}

.searchHeader {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr;
    background-color: var(--lighter-grey-contrast);
    height: 52px;
    align-items: center;

    .logo {
        background-color: inherit;
        height: 100%;

        img {
            height: 100%;
            ;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .search {
        height: 100%;
        background-color: inherit;
        align-items: center;

        form {
            background-color: inherit;
            display: grid;
            grid-template-columns: 4fr 1fr;
            align-items: center;
            height: 100%;

            input {
                padding: 0.3rem 0;
            }

            button {
                padding: 0.3rem 0;
                width: 80%;
            }
        }
    }
}

.welcomeMessage {
    padding: 20px 5% 10px 5%;
}

#instructionsMessage {
    padding: 5px 5%;
}

#searchResultsDiv {
    width: 90%;
    margin: 0 auto;
    display: grid;

    &.songColumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;

    &.loading {
        display: block;
        border: 4px solid #eee;
        border-top: 4px solid #333;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        animation: spin 0.8s linear infinite;
    }
}


.artistDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 110px;
    transition: transform 0.15s ease-in-out;

    &:hover {
        border: solid 2px var(--white-text);
        transform: scale(1.05);
    }

    &:nth-of-type(odd) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    .selectButton {
        background-color: var(--spotify-green);
        color: var(--dark-grey-black);
        border: none;
        border-radius: 5px;
        height: 44px;
    }
}

.albumDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 72px;
    transition: transform 0.15s ease-in-out;

    &:nth-of-type(odd) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    label {
        background-color: inherit;

    }

    &:hover {
        transform: scale(1.05);
        border: solid 1px var(--white-text);
    }
}


/* Need to add MEDIA QUERIES for screen width to determine
    number of columns for songs!!! */
.songDiv {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 72px;
    transition: transform 0.15s ease-in-out;

    &:nth-of-type(4n) {
        background-color: var(--lighter-grey-contrast);
    }

    &:nth-of-type(4n+1) {
        background-color: var(--lighter-grey-contrast);
    }

    p {
        background-color: inherit;
    }

    label {
        background-color: inherit;
    }

    &:hover {
        transform: scale(1.05);
        border: solid 1px var(--white-text);
    }
}

.songResultDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 10px;
    align-items: center;
    height: 72px;
    transform: translateX(200px);
    transition: transform 0.35s linear;

    p {
        background-color: inherit;
    }

    &:nth-of-type(odd) {
        background-color: var(--lighter-grey-contrast);
    }

    &.added {
        transform: translateX(0px);
    }

}

.goButton {
    background-color: var(--spotify-green);
    color: var(--dark-grey-black);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 0;

    &.spanColumns {
        grid-column: 1 / 3;
    }
}

#matchupModal {
    margin: auto auto;
    width: 80%;
    height: 80%;
    max-width: 600px;
    transform: scale(0.9);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;

    h2,
    h3 {
        text-align: center;
        margin: 0.5rem 0;
    }

    .twoSongDiv {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        text-align: center;
        margin-top: 20px;
        align-items: center;

        .vsText {
            font-size: 32px;
        }

        .matchupTrack {
            .trackName {
                line-height: 1.5;
                color: var(--offwhite-grey-text);

                span {
                    color: var(--white-text);
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }

            .choiceButton {
                width: 100%;
                margin: 1rem 0;
                padding: 1rem 0.1rem;
                font-size: 1.5rem;
                font-weight: bold;
                background-color: var(--spotify-green);
                color: var(--dark-grey-black);
                border: none;
                border-radius: 5px;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    background-color: var(--darker-spotify-green);
                    border: 1px solid var(--white-text);
                    transform: translateY(-2px);
                }

                &:active {
                    transform: translateY(0);
                }
            }
        }
    }

    &.open {
        opacity: 1;
        transform: scale(1.0);
    }
}

@media screen and (max-width: 540px) {
    main {
        max-width: 480px;
    }

    .artistDiv {
        .selectButton {
            height: 80px;
        }
    }

    #searchResultsDiv {
        .songDiv {
            grid-column: 1 / 3;

            &:nth-of-type(odd) {
                background-color: var(--lighter-grey-contrast);
            }

            &:nth-of-type(even) {
                background-color: var(--dark-grey-background);
            }
        }
    }

}